---
import { Card, Section, Button, Blogdemo, Testimonials, Footer	} from '../components'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Real Statement" />
	<main>
<div class="info-cont">

<Section 
	image= '/img/icono2.svg'
	title='EL MEJOR PRECIO'
	body= 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, esse quos tempora vero architecto facilis veniam voluptas sint doloremque pariatur fugit voluptatum! Accusamus delectus facere fugiat hic quidem? Natus, quisquam.'
 />
 <Section 
 	image= "/img/icono1.svg"
	title='SEGURIDAD'
	body= 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, esse quos tempora vero architecto facilis veniam voluptas sint doloremque pariatur fugit voluptatum! Accusamus delectus facere fugiat hic quidem? Natus, quisquam.'
 />
 
 <Section 
 	image= '/img/icono3.svg'
	title='A TIEMPO'
 	body= 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, esse quos tempora vero architecto facilis veniam voluptas sint doloremque pariatur fugit voluptatum! Accusamus delectus facere fugiat hic quidem? Natus, quisquam.'
 />

</div>

<h2 class="announce-section">Casas y Departamentos en venta</h2>

<div class="cont">
	<Card
	image="/img/anuncio1.jpg"
	href='https://github.com/'
	title='Casa de Lujo en el lago'
	body='Casa de lujo con excelente vista, acabados de lujo a un excelente precio'
/>

<Card
	image="/img/anuncio2.jpg"
	href='https://github.com/'
	title='Casa Terminados de Lujo'
	body='Casa de diseño moderno, asi como tecnologia inteligente y amueblada'
/>

<Card
	image="/img/anuncio3.jpg"
	href='https://github.com/'
	title='Casa con alberca'
	body='Casa con alberca y acabados de lujo en la ciudad, excelente oportunidad'
/>

</div>

<Button 
body="See More"
href='https://github.com/'
/>

<div class="parallax">
	<h2 class="parallax-title">Encuentra la casa de tus sueños</h2>
	<p class="parallax-body">llena el formulario de contacto y un asesor se pondrá en contacto contigo a la brevedad</p>
	<Button 
	body="Contact"
	href='https://github.com/'
	inverted
/>
</div>

<div class="article-container">
	
	<div class="blog-section">
		<Blogdemo 
	title='Terraza en el techo de tu casa'
	image='/img/blog1.jpg'
	date='Escrito el: 20/20/2020 por: someone'
	body='Consejos para construir una terraza en el techo de tu casa con los mejores materiales y ahorrando dinero'/>

	<Blogdemo 
	title='Terraza en el techo de tu casa'
	image='/img/blog1.jpg'
	date='Escrito el: 20/20/2020 por: someone'
	body='Consejos para construir una terraza en el techo de tu casa con los mejores materiales y ahorrando dinero'/>
	</div>

	<Testimonials 
	body='Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt illum recusandae laboriosam pariatur expedita facere rerum, esse quae est soluta accusamus laborum in error temporibus ea distinctio dicta laudantium?'
/>
	
</div>

	<Footer />


</main>

<style is:global>
	*, *::before, *::after {
    box-sizing: inherit;
}

:root{
	--letter-color: #ffffff; 
	--letter-color-b: #000;
	--bg-color-primary: #b59c8d; 
  --bg-color-secondary: #c9c3b7;
	--bg-color: #565657;
	--border-color: #ebe4de;
	--bg-color-footer: #242323;

	--color-options {
	--color-option1:#b59c8d;
	--color-option2:#c9c3b7;
	--color-option3:#ebe4de;
	--color-option4:#565657;
	}
}

/*

*/

/*----------- Info Cont ------------*/
.info-cont {
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
	@media(width >= 50rem) {
		flex-direction: row;
	}
}


/*----------- Announce Cont ------------*/
.cont {
	display: flex;
	flex-direction: column;
	padding-block: .5rem;
	align-items: center;
	gap: 1rem;

	@media(width >= 50rem){
		flex-direction: row;
		justify-content: space-between;
		padding-inline: .5rem;
	}
}

	.announce-section {
		text-align: center;
	}

	/*-----------	Parallax section	----------*/
	.parallax {
		background-image: url(../img/encuentra.jpg);
    height: 45svh;
    background-position: center center;
    background-size: cover;
    display: flex;
		flex-direction: column;
    align-items: center;


			@media (width >= 48rem) {
			background-image: url(/img/encuentra.jpg);
			display: flex;
    	flex-direction: column;
    	align-items: flex-start;
			background-attachment: fixed;
  		background-position: top;
  		background-repeat: no-repeat;
  		background-size: cover;
			block-size: 60vh;
		}
	}



	.parallax-title {
		color: var(--letter-color);

		@media (width >= 48rem) {
			padding: 1.2rem;
			font-size: 3rem;
		}
	}


	.parallax-body {
		padding-inline: .3rem;
		color: var(--letter-color);
		
		@media (width >= 992px) {
			font-size: 1.3rem;
			padding: 0.9rem;
		}
	}

	/*-----------	Blog and Testimonial section	----------*/
	.article-container {
		@media(width >= 48rem) {
			display: flex;
			flex-direction: row;
		}
	}
	.blog-section {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	

</style>
