---
import { Image } from 'astro:assets';
interface Props {
	title: string;
	body: string;
	href: string;
	image: string
}

const { href, title, body, image } = Astro.props;
---



	<div class="card">
		<Image class="image-demo" src={image}  alt="announce" width="308" height="245"/>
		<h2 class="title-card">
			{title}
		</h2>
		<p class="body">
			{body}
		</p>

	<ul class="list">
		<li class="list-item">
			<img class="wc-icon" src="/img/icono_wc.svg" alt="icon">
			<p class="num wc">3</p>
		</li>

		<li class="list-item">
			<img src="img/icono_estacionamiento.svg" alt="icon">
			<p class="num">3</p>
		</li>

		<li class="list-item">
			<img src="img/icono_dormitorio.svg" alt="icon">
			<p class="num">4</p>
		</li>
	</ul>

	<div class="btn-cont">
		<button class="btn-proper"><a href={href}>Ver Propiedad</a></button>
	</div>
</div>



<style>

	:root{
		--btn-color: hsla(44deg 98 50);
	}
	.title {
		display: flex;
	}

	.card {
		inline-size: 70%;
		background-color:	var(--bg-color);
		border: 2px solid var(--border-color);
	}


	.list {
		list-style: none;
		display: flex;
		padding: .5rem;
		gap: 1rem;
		justify-content: center;
	}

	.list-item {
		display: flex;
		flex-direction: column;
	}

	.image-demo {
		width: 100%;
		height: 35%
	}

	.title-card {
		text-align: center
	}

	.body {
		text-align: center;
		padding-inline: 1rem;
	}

	.btn-cont {
		display: flex;
		justify-content: center;
		padding-block: .5rem 1rem;
	}

	.btn-proper {
		border: none;
		border-radius: 10px;
		padding: 1rem;
		inline-size: 80%;
		cursor: pointer;
		background-color: var(--btn-color);
	}

	a {
		text-decoration: none;
		border-radius: 2px;
		color: var(--color-letter);
	}

	.num {
		text-align: center;
	}

	.wc {
		margin-block-start: 13.3px;
	}

	.wc-icon {
		inline-size: 1.9rem;
	}
</style>
