---
interface Props {
  body: string;
}

const { body } = Astro.props
---

<div class="testimonial-container">  
  <p class="content-testimonial">{ body } -Miguel</p>
</div>

<style is:inline>

.testimonial-container{
  display: flex;
  align-items: center;
  line-height: 24px;
  width: auto;
  justify-content: center;
  padding-inline: 1em;

  @media(width >= 48rem) {
  }
}

.content-testimonial {
  text-align: center;
  background-color: var(--bg-color-primary);
  border-radius: 10%; 
  padding-inline: 3em;
}

</style>