---
interface Props {
  body: string;
  name: string;
}

const { body, name } = Astro.props
---

<div class="testimonial-container">
  <p class="content-testimonial">{ body }</p>
  <p>-{ name }</p>
</div>

<style is:inline>

  .testimonial-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-primary);
    border-radius: 2rem;
    margin: 2rem 10rem;
    color: var(--letter-color);
  }

  .content-testimonial {
    inline-size: 40%;
    text-align: center;
  }
</style>